<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="theme-color" content="#001400" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#001400" media="(prefers-color-scheme: dark)">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

	<title>Mistral-87</title>
</head>
<body class="body-green">
    <audio controls preload="auto">
        <source src="{{ url_for('static', filename='sounds/blip.mp3') }}" type="audio/mpeg">
        <source src="{{ url_for('static', filename='sounds/click.mp3') }}" type="audio/mpeg">
        <source src="{{ url_for('static', filename='sounds/computer-processing.mp3') }}" type="audio/mpeg">
    </audio>
    <form id="configForm" method="post">
        <div class="conf conf-select">
            <select name="model" id="model" class="model-green">
                <option value="mistral-small-latest" selected="yes">mistral-small-latest</option>
                <option value="mistral-large-latest">mistral-large-latest</option>
            </select>
            <label for="model"><span class="infoBulle" title="Mistral Small: Intermediate tasks that require language transformation
Mistral Small is the ideal for intermediate tasks that require moderate reasoning - like Data extraction, Summarizing a Document, Writing a Job Description, or Writing Product Descriptions. Mistral Small strikes a balance between performance and capability, making it suitable for a wide range of tasks that only require language transformaion. For example, Mistral Small can write an email.

Mistral Large: Complex tasks that require large reasoning capabilities or are highly specialized

Mistral Large is ideal for complex tasks that require large reasoning capabilities or are highly specialized - like Synthetic Text Generation, Code Generation, RAG, or Agents.

    Complex reasoning

Mistral Large outperforms our other four models in commonsense and reasoning benchmarks, making it the best choice for complex reasoning tasks.

In this example, we ask Mistral Large to calculate the difference in payment dates between the two customers whose payment amounts are closest to each other in the given dataset. Mistral Large can easily and automatically break down the problem into smaller steps: identify the two closest payment amounts, find their respective payment dates, and calculate the date difference. Mistral Large is an excellent choice for tasks that require complex reasoning and problem-solving skills.">Modele: </span></label>
            <output class="model-output" for="model">{{ model }}</output>
        </div>
        <div class="conf">
            <label for="temperature"><span class="infoBulle" title="What sampling temperature to use, we recommend between 0.0 and 0.7. Higher values like 0.7 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both. The default value varies depending on the model you are targeting. Call the /models endpoint to retrieve the appropriate value.
">Temperature: </span></label>
            <input class="input-conf" type="range" name="temperature" id="temperature" min="0" max="0.7" step="0.01" value="{{ temperature }}">
            <output class="temperature-output" for="temperature">{{ temperature }}</output>
        </div>
        <div class="conf">
            <label for="frequencyPenalty"><span class="infoBulle" title="Default: 0
frequency_penalty penalizes the repetition of words based on their frequency in the generated text. A higher frequency penalty discourages the model from repeating words that have already appeared frequently in the output, promoting diversity and reducing repetition.
">FrequenceP: </span></label>
            <input class="input-conf" type="range" name="frequencyPenalty" id="frequencyPenalty" min="-2" max="2" step="0.01" value="{{ frequency }}">
            <output class="frequencyPenalty-output" for="frequencyPenalty">{{ frequency }}</output>
        </div>
        <div class="conf">
            <label for="presencePenalty"><span class="infoBulle" title="Default: 0
presence_penalty determines how much the model penalizes the repetition of words or phrases. A higher presence penalty encourages the model to use a wider variety of words and phrases, making the output more diverse and creative.
">PresenceP: </span></label>
            <input class="input-conf" type="range" name="presencePenalty" id="presencePenalty" min="-2" max="2" step="0.01" value="{{ presence }}">
            <output class="presencePenalty-output" for="presencePenalty">{{ presence }}</output>
        </div>
    </form>
    <div id="terminal" class="term-green">
        <p class="version">v2.1.7</p>
        <h1>Mistral-87</h1>
    	<pre>
 /$$      /$$ /$$             /$$                        /$$ /$$ /$$$$$$  /$$$$$$$$
| $$$    /$$$|__/            | $$                       | $$| $//$$__  $$|_____ $$/
| $$$$  /$$$$ /$$  /$$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$ | $$|_/| $$  \ $$     /$$/ 
| $$ $$/$$ $$| $$ /$$_____/|_  $$_/   /$$__  $$|____  $$| $$   |  $$$$$$/    /$$/  
| $$  $$$| $$| $$|  $$$$$$   | $$    | $$  \__/ /$$$$$$$| $$    >$$__  $$   /$$/   
| $$\  $ | $$| $$ \____  $$  | $$ /$$| $$      /$$__  $$| $$   | $$  \ $$  /$$/    
| $$ \/  | $$| $$ /$$$$$$$/  |  $$$$/| $$     |  $$$$$$$| $$   |  $$$$$$/ /$$/     
|__/     |__/|__/|_______/    \___/  |__/      \_______/|__/    \______/ |__/      
        </pre>
        <pre>
*****************************************************************
        </pre>
        <div class="infos">
            <p id="timer" class="timer">> Timer: 0s</p>
            <p id="date" class="date">> Thu Jan 1 00:00:00 CEST 1970</p>
            <p id="total" class="total">> Tokens: 0 (0$)</p>
        </div>
        <p class="typed-message">{{ ip }}@Mistral-87:~$ <span class="cursor">▋</span></p>
    </div>

    <form id="chat-form" method="POST">
        <input id="Input" class="input-green" type="text" name="user_input" placeholder="Prompt..." required>
        <button id="submit-button" class="button-green" onclick="playClick()" type="submit">Submit</button>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>

        const form = document.getElementById('configForm');
        const modelSelect = document.getElementById('model');
        const tempInput = document.getElementById('temperature');
        const freqInput = document.getElementById('frequencyPenalty');
        const presInput = document.getElementById('presencePenalty');

        tempInput.addEventListener('input', () => {
            const temperature = tempInput.value;
            const tempOutput = document.querySelector('.temperature-output');
            tempOutput.textContent = temperature;
        });
        freqInput.addEventListener('input', () => {
            const frequency = freqInput.value;
            const freqOutput = document.querySelector('.frequencyPenalty-output');
            freqOutput.textContent = frequency;
        });
        presInput.addEventListener('input', () => {
            const presence = presInput.value;
            const presOutput = document.querySelector('.presencePenalty-output');
            presOutput.textContent = presence;
        });

        // Fonction pour mettre à jour le fichier JSON
        function updateJSON() {
            const formData = new FormData(form);
            fetch('/update_json', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.status);
                console.log(data.message);
            })
            .catch(error => console.error(error));
        }
        // Écouter les changements dans les curseurs et appeler la fonction de mise à jour
        form.addEventListener('change', updateJSON);

        // Variable pour Fn JS TypeWriter
        let ip = '{{ ip }}';
        let model = '{{ model }}';

        let counter = 0;
        let intervalId;

        function startCounter() {
          intervalId = setInterval(() => {
            counter++;
            document.getElementById('timer').textContent = '> Timer: '+counter+'s';
          }, 1000);
        }

        function stopCounter() {
          clearInterval(intervalId);
          counter = 0;
        }

        $(function() {
            $('#chat-form').submit(function(event) {
                event.preventDefault();

                let form = $(this);
                let url = form.attr('action');
                let method = form.attr('method');
                let data = form.serialize();

                document.getElementById('submit-button').disabled = true;
                startCounter();
                $('#timer').show();

                if (data !== 'user_input=') {
                    $.ajax({
                        url: url,
                        type: method,
                        data: data,
                        success: function(response) {
                          let created = response.created;
                          document.getElementById('date').textContent = '> '+created;
                          let promptTokens = response.prompt;
                          let completionTokens = response.completion;
                          let totalTokens = response.total;
                          let price = tokensPrice(promptTokens, completionTokens);
                          document.getElementById('total').textContent = '> Tokens: '+totalTokens+' ('+price+'$)';
                          stopCounter();
                          document.getElementById('submit-button').disabled = false;
                          typeWriterEffect(response.messages);
                          form[0].reset();
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            console.log('Error:', errorThrown);
                            stopCounter();
                            document.getElementById('submit-button').disabled = false;
                            alert('Error');
                            form[0].reset();
                        }
                    });
                    return false;
                } else {
                    alert('Prompt empty');
                }
            });
        });
    </script>
</body>
</html>
